.footer_inner {
    padding: 100px 0 30px;
}
.item {
    position: relative;
    margin-bottom: .5rem;
}
.item:after {
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    background: #7f64ff;
    left: -19px;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 1px;
}