.support {
    padding: 180px 0 100px;
    position: relative;
    min-height: 500px;
    background: #f2f7fb;
}
.support_button {
    color: #727888;
    background-color: #FFF;
    padding: 10px 20px;
    /* font-weight: 500; */
    margin-top: 10px;
    box-shadow: 0 10px 100px 0 rgb(77 77 119 / 16%);
    letter-spacing: .05px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
}
.support_button:hover {
    background-color: #6610f2;
    color: #fff;
    transition: all 0.2s ease-in-out;
}
.hover_box_container {
    position: relative;
    height: 430px;
    width: 430px;
}
.hover_box_container::after {
    content: '';
    width: 266px;
    height: 248px;
    background: url(../public/img/bg/box-hover.png) no-repeat;
    position: absolute;
    border-radius: 50%;
    left: 40%;
    right: 0;
    margin: auto;
    top: 45%;
    transform: translateY(-50%);
}
.display_onhover_box_item {
    opacity: 0.3;
    text-align: center;
    z-index: 2;
    line-height: 72px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 120px;
    margin-top: -36px;
    margin-left: 70px;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: opacity,transform;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.display_onhover_box_item:nth-of-type(1) {
    transform: rotate(-90deg) translate3d(170px, 0, 0) rotate(90deg);
}
.display_onhover_box_item.active:nth-of-type(1) {
    opacity: 1;
    transform: rotate(-90deg) translate3d(175px, 0, 0) rotate(90deg);
}
.display_onhover_box_item.itsnot:nth-of-type(1) {
    transform: rotate(-90deg) translate3d(165px, 0, 0) rotate(90deg);
}
.display_onhover_box_item:nth-of-type(2) {
    transform: rotate(225deg) translate3d(170px, 0, 0) rotate(-225deg);
}
.display_onhover_box_item.active:nth-of-type(2) {
    opacity: 1;
    transform: rotate(225deg) translate3d(175px, 0, 0) rotate(-225deg);
}
.display_onhover_box_item.itsnot:nth-of-type(2) {
    transform: rotate(225deg) translate3d(165px, 0, 0) rotate(-225deg);
}
.display_onhover_box_item:nth-of-type(3) {
    transform: rotate(180deg) translate3d(170px, 0, 0) rotate(-180deg);
}
.display_onhover_box_item.active:nth-of-type(3) {
    opacity: 1;
    transform: rotate(180deg) translate3d(175px, 0, 0) rotate(-180deg);
}
.display_onhover_box_item.itsnot:nth-of-type(3) {
    transform: rotate(180deg) translate3d(165px, 0, 0) rotate(-180deg);
}
.display_onhover_box_item:nth-of-type(4) {
    transform: rotate(135deg) translate3d(170px, 0, 0) rotate(-135deg);
}
.display_onhover_box_item.active:nth-of-type(4) {
    opacity: 1;
    transform: rotate(135deg) translate3d(175px, 0, 0) rotate(-135deg);
}
.display_onhover_box_item.itsnot:nth-of-type(4) {
    transform: rotate(135deg) translate3d(165px, 0, 0) rotate(-135deg);
}
.display_onhover_box_item:nth-of-type(5) {
    transform: rotate(90deg) translate3d(170px, 0, 0) rotate(-90deg);
}
.display_onhover_box_item.active:nth-of-type(5) {
    opacity: 1;
    transform: rotate(90deg) translate3d(175px, 0, 0) rotate(-90deg);
}
.display_onhover_box_item.itsnot:nth-of-type(5) {
    transform: rotate(90deg) translate3d(165px, 0, 0) rotate(-90deg);
}
.display_onhover_box_item:nth-of-type(6) {
    transform: rotate(45deg) translate3d(170px, 0, 0) rotate(-45deg);
}
.display_onhover_box_item.active:nth-of-type(6) {
    opacity: 1;
    transform: rotate(45deg) translate3d(175px, 0, 0) rotate(-45deg);
}
.display_onhover_box_item.itsnot:nth-of-type(6) {
    transform: rotate(45deg) translate3d(165px, 0, 0) rotate(-45deg);
}
.display_onhover_box_item:nth-of-type(7) {
    transform: rotate(0deg) translate3d(170px, 0, 0) rotate(0deg);
}
.display_onhover_box_item.active:nth-of-type(7) {
    opacity: 1;
    transform: rotate(0deg) translate3d(175px, 0, 0) rotate(0deg);
}
.display_onhover_box_item.itsnot:nth-of-type(7) {
    transform: rotate(0deg) translate3d(165px, 0, 0) rotate(0deg);
}
.display_onhover_box_item:nth-of-type(8) {
    transform: rotate(-45deg) translate3d(170px, 0, 0) rotate(45deg);
}
.display_onhover_box_item.active:nth-of-type(8) {
    opacity: 1;
    transform: rotate(-45deg) translate3d(175px, 0, 0) rotate(45deg);
}
.display_onhover_box_item.itsnot:nth-of-type(8) {
    transform: rotate(-45deg) translate3d(165px, 0, 0) rotate(45deg);
}
.display_onhover_box_content {
    width: 266px;
    height: 248px;
    position: absolute;
    left: 40%;
    right: 0;
    margin: auto;
    text-align: center;
    top: 45%;
    transform: translateY(-50%);
    z-index: 1;
}
.display_onhover_box_content_items {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    color: #fff;
    padding: 0 25px;
}